.bg_img{
    width: 100vw;
    height: 45vh;
}

.bg_img_ {
    width: 100vw;
    height: 45vh;
    background-color: bisque;
}
#store_name {
    margin: 10px auto;
    width: 200px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#store_info {
    font-size: 17px;
    margin: 20px auto;
    width: 700px;
}
#books_wrap{
    display: flex;
}

.sales_book{
    width: 250px;
    height: 400px;
    margin: 5%;

}

#store_info{
    display: flex;
    justify-content: center;

}

#info_edit{
    position: absolute;
    top: 40vh;

}


#uploaed_book_wrap{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 100px;
}

#uploaed_book {
    margin: 3% 0 2% 2%;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#uploaed_book img {
    width: 100%;
    height: 350px;
}

#uploaed_book p {
    margin: 2%;
    text-align: center;
}

#onsale {
    margin: 7% 0 3% 0;
    text-align: center;
    width: 100px;
    background-color: powderblue;
    border-radius: 5px;
    padding: 2px;
}

#rented {
    margin: 7% 0 3% 0;
    text-align: center;
    width: 100px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 2px;
}