<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}{% endblock %}
      | Bookin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static '/img/favi.png' %}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookin_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Shizuru&display=swap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://bookin-bucket.s3.ap-northeast-2.amazonaws.com/static/eggy.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}

  </head>

  <body>
    <nav id="menu_container">
      <div id="menu_logo">
        <a href="/"><img src="{% static '/img/header_logo.png' %}"></a>
      </div>
      <div id="menu_search">
        <form method="get" action="{% url 'search-all' %}">
          <input id="search" type="text" name="word" class="p-3" placeholder="search...">
        </form>
      </div>
      {% if not user.is_authenticated %}
        <div id="menu_items">
          <a href="/sign-in"><img src="{% static '/img/nav_signin.png' %}"></a>
        </div>
        <div id="menu_items">
          <a href="/sign-up"><img src="{% static '/img/nav_signup.png' %}"></a>
        </div>
        {% else%}
        <div id="menu_items">
          {% if user_new_message_exists %}
          <div class="absolute w-3 h-3 rounded-full bg-orange-400"></div>
          {% endif %}
          <a href="/chat_room_list"><img src="{% static '/img/nav_msg.png' %}"></a>
        </div>
        <div id="menu_items">
          <img class="cursor-pointer" onclick="dropdown();" src="{% static '/img/nav_my.png' %}">
          <div id="dropmenu" class="drop">
            <div onclick="location.href='/my-page'">Hello!
              {{user.username}}</div>
            <div onclick="location.href = '{% url 'mystore' request.user.pk %}'">내 책방</div>
          </div>
        </div>
        <div id="menu_items">
          <a href="/logout"><img src="{% static '/img/nav_logout.png' %}"></a>
        </div>
      {% endif %}

    </nav>

    <div id="content_wrap">
      {% block content %}{% endblock %}
    </div>

    {% block js %}{% endblock %}
  </body>

</html>
