<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Bookin</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="/static/img/favicon1.PNG" rel="shortcut icon" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Shizuru&display=swap" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://bookin-bucket.s3.ap-northeast-2.amazonaws.com/static/eggy.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <script type="text/javascript" src="/static/js/base.js"></script>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    {% block css %}
    {% endblock %}


</head>
<body>
    <nav id="menu_container">
        <div id="menu_logo">
            <a href="/"><img src="{% static '/img/bookin_logo.png' %}"></a>
        </div>
        <div id="menu_search">
            <input name="search" placeholder="   search...">
        </div>
        {% if not user.is_authenticated %}
        <div id="menu_signin">
            <a href="/sign-in"><img src="{% static '/img/signin.png' %}"></a>
        </div>
        <div id="menu_signup">
            <a href="/sign-up"><img src="{% static '/img/signup.png' %}"></a>
        </div>
        {% else%}
        <div id="mymenu">
            <img id="menu_items" onclick="dropdown();" src="{% static '/img/mypage.png' %}">
            <div id="dropmenu" class="drop">
                <div onclick="location.href='/my-page'">Hello! {{user.username}}</div>
                <div onclick="location.href = '{% url 'mystore' request.user.pk %}'">mystore</div>    
            </div>
        </div>
        <div id="logout"><a href="/logout"><img  src="{% static '/img/logout.png' %}"></a></div>
        {% endif %}
        
        
    </nav>
    

{% block content %}
{% endblock %}

{% block js %}
{% endblock %}
</body>
</html>