{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '/img/favi.png' %}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bookin_style.css' %}">
    <title>패스워드 찾기| Bookin</title>
  </head>

  <body>
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-md w-full space-y-8">
        <div>
          <img class="mx-auto h-28 w-auto object-cover" src="{% static '/img/lock.png' %}" alt="Workflow">
          <h2 class="mt-6 text-center text-2xl font-extrabold text-gray-900">로그인에 문제가 있나요?</h2>
          <p class="mt-2 text-center text-sm text-gray-600">
            이메일 주소를 입력하시면 계정에 다시 액세스할 수 있는 코드를 보내드립니다.
          </p>
        </div>
        <form class="mt-8 space-y-6" action="/find-password/" method="POST">
          {% csrf_token %}
          <input type="hidden" name="remember" value="true">
          <div class="rounded-md shadow-sm -space-y-px">
            <div>
              <label for="email-address" class="block text-sm font-medium text-gray-700">이메일</label>
              <input id="email-address" name="email" type="email" autocomplete="email" class="appearance-none rounded-none relative block w-full px-3 py-2 mb-5 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="이메일">
            </div>

          </div>

          {% if error %}
            <div class="flex items-center justify-center mb-2 " role="alert">
              <p class="text-red-600">
                {{ error }}
              </p>
            </div>
          {% endif %}
          <div>
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-sky-400 hover:bg-sky-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">

              인증번호 보내기
            </button>
            <p class="mt-5 text-center text-xs  text-gray-600">
              또는
            </p>
            <div class="flex items-center justify-center mt-3">
              <div class="text-sm">
                <a href="/sign-up/" class="font-medium text-xl font-sans">
                  새 계정 만들기
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
