{% extends 'base.html' %}

{% load static %}


{% block title %}
프로필
{% endblock %}


{% block js %}
<script src="{% static 'js/myPage.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        const message = '{{ message }}';
        if (message){
            Eggy({
                title: '유저네임이 변경되지 않았습니다',
                message: message,
                type: 'error',
            });
        }
    });

    function onUsernameChange(e) {
        const myUsername = '{{ user.username }}';
        let profileBtn = document.getElementById("profileBtn");
        let password = document.getElementById("password");
        if (myUsername != e.value){
            profileBtn.removeAttribute("disabled");
        }else{
            if (password.hasAttribute("disabled")){
                profileBtn.setAttribute("disabled","");
            }
        }
    }
</script>
{% endblock %}


{% block content %}
<div class="w-full flex flex-col justify-center items-center">
    <div class="py-10">
        <form action="{% url 'upload-user-image' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'users/userImageCheckModal.html' %}
            <label for="file">
                <img src="{{user.user_image}}" alt="" class="w-52 h-52 rounded-full border-2 object-center object-cover cursor-pointer">
                <input type="file" id="file" name="file" accept="image/*" class="hidden">
            </label>
        </form>
    </div>
    <div class="flex flex-col justify-center items-center">
        <form action="{% url 'my-page' %}" method="post">
            {% csrf_token %}
            <input id="usernameInput" type="text" oninput="onUsernameChange(this)" name='username' placeholder='유저네임' value="{{ user.username }}"required>
            <div class="flex">
                <div class="flex flex-col">
                    <input type="password" id="password" name='password' pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$" placeholder='비밀번호' disabled required>
                    <div class="text-sm">비밀번호는 대﹒소문자 포함, 특수문자 포함, 숫자포함 8자이상 입니다</div>
                    <input type="password"  id="password2" name='password2' placeholder='비밀번호 확인' disabled required>
                </div>
                <div class="flex justify-center items-start w-40 mt-10">
                    <div onclick="passwordCanChangeBtn(this)" class="cursor-pointer">비밀번호 변경</div>
                </div>
            </div>
            <div class="w-full flex justify-center items-center">
                <button id="profileBtn" class="mt-6 bg-blue-900 border rounded-md py-1 px-5 flex items-center justify-center text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 disabled:bg-white disabled:text-gray-400 disabled:border" disabled>변경하기</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}