{% extends 'base.html' %}

{% load static %}


{% block title %}
프로필
{% endblock %}


{% block js %}
<script src="{% static 'js/myPage.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        const message = '{{ message }}'
        if (message){
            Eggy({
                title: '유저네임이 변경되지 않았습니다',
                message: message,
                type: 'error',
            });
        }
    });
</script>
{% endblock %}


{% block content %}
<div>
    <div>
        <form action="{% url 'upload-user-image' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="file" name="file" accept="image/*">
            <button>변경하기</button>
        </form>
        <img id="user-img" class="bg-cover bg-center w-80 h-96" src="#" alt="">
    </div>
    <div>
        <form action="{% url 'my-page' %}" method="post">
            {% csrf_token %}
            <input type="text" name='username' placeholder='유저네임' value="{{ user.username }}"required>
            <div>
                <input type="password" id="password" name='password' pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$" placeholder='비밀번호' disabled>
                <input type="password" id="password2" name='password2' placeholder='비밀번호 확인' disabled>
                <div onclick="passwordCanChangeBtn(this)" class="cursor-pointer">비밀번호 변경</div>
            </div>
            <button>변경하기</button>
        </form>
    </div>
</div>


{% endblock %}