{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}

{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/review.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}
    {#<script type="text/javascript" src="{% static '/js/파일이름.js' %}"></script>#}
    <!-- $(function(){
        $("#select_rating").click(function(){
            for(let i=1; i<6; i++){
                let selectRating = document.querySelector('.my_rating'+i).getAttribute('value');
                console.log(selectRating)
                document.querySelector('.my_rating'+i).innerHTML='🌈'.repeat(selectRating) ;
                };
            });
    });  -->
{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}

<div id="review_box">

    {% if reviews %}
    <div class="notice_msg">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-dizzy" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
        </svg>
        <p>이미 리뷰를 작성하셨습니다</p>
    </div>
    {% else %}
    <div class="notice_msg">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-wink" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm1.757-.437a.5.5 0 0 1 .68.194.934.934 0 0 0 .813.493c.339 0 .645-.19.813-.493a.5.5 0 1 1 .874.486A1.934 1.934 0 0 1 10.25 7.75c-.73 0-1.356-.412-1.687-1.007a.5.5 0 0 1 .194-.68z"/>
        </svg>
        <p>리뷰를 작성해 주세요</p>
    </div>
    {% endif %}

    <div id="book_info">    
        <img id="book_img" src="{{book.book_img}}">
        <div id="book_title">{{book.book_name}}</div>
    </div>

    
    <form method="POST">
        {% csrf_token %}
    <div id="form_wrap">    
    <div class="content_box">
        <div class="content_title">리뷰내용</div>
        <textarea class="content_area" name="content" rows="3">{{ reviews.content }}</textarea>
    </div>    
    
    <div class="content_box">
        <div class="content_title" id="content_rating" value="{{reviews.review_rating}}">평점</div>
        <select name="review_rating" id="select_rating">
            <option selected id="ratingNow"></option>
            {% for i in "12345" %}
            <option class="my_rating{{i}}" value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
         
    </div>
    {% if reviews %}
    <button id="edit_btn" type="submit" name="edit_review">리뷰수정</button>

    {% else %}
    <button id="write_btn" type="submit" name="write_review">리뷰쓰기</button>

    {% endif %}
    </div>
    
    </form>
</div>

<script>
    $(document).ready(function(){
        let nowRating = document.querySelector('#content_rating').getAttribute('value');
        document.getElementById('ratingNow').innerHTML='🌈'.repeat(nowRating);
    });


 

</script>



{% endblock %}

