{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
  {{book.book_name }}
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}
  <script type="text/javascript" src="{% static '/js/detail.js' %}"></script>
{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}

  <!-- 책디테일 페이지 book pk: {{ book.pk }}title: {{book.book_name }} category: {{book.user_id }} <p> {% for b in buyer %} {% for a in b.participants.all %} {% if a.username != request.user.username %} 닉넴:{{ a.username }} id:{{ a.id }} {% endif %} {% endfor %} {% endfor %} </p> -->

  <script>
    $(document).ready(function () {
      let rating = document.querySelector('.review_rating');
      let myrating = rating.getAttribute('value');
      rating.innerHTML = '🌈'.repeat(myrating);
    });

    function like(book_id) {
      let data = new FormData()
      data.append('book_id', book_id)
      axios({
        method: 'post',
        url: 'like/',
        data: data,
        headers: {
          "X-CSRFToken": '{{csrf_token}}'
        }
      })
        .then(function res(response) {

          do_like = document.getElementById('do_like')
          undo_like = document.getElementById('undo_like')
          book_like = document.getElementById('book_like')
          console.log(response.data)
          if (response.data.liked) {
            try {
              do_like
                .classList
                .add("fill-red-500", "text-red-500");
              $('#like_count').html(response.data.like_count)
            } catch  {
              undo_like
                .classList
                .add("fill-red-500", "text-red-500");
              $('#like_count').html(response.data.like_count)
            }
          } else {

            try {
              do_like
                .classList
                .remove("fill-red-500", "text-red-500");
              $('#like_count').html(response.data.like_count)

            } catch  {
              undo_like
                .classList
                .remove("fill-red-500", "text-red-500");
              $('#like_count').html(response.data.like_count)
            }
          }
        })
        .catch(function error(error) {
          console.log(error)
        })
      }
  </script>
  <div id="detail_wrap">
    <img class="book_cover" src="{{ book.book_img }}">
    <div class="book_title">{{book.book_name }}</div>
    <div id="for_user">
      {% if book.is_rented == 0 %}
        <div id="onsale">대여가능</div>
      {% else %}
        <div id="rented">대여중</div>
      {% endif %}

      <!-- 스토어 주인일 때만 도서수정팝업 버튼 보이기 -->
      {% if request.user.pk == book.user_id %}
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square status-edit" value="status_edit_modal" viewbox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      {% endif %}
    </div>
    <div class="book_info">가격:
      {{book.price }}</div>
    <div class="book_info">카테고리:
      {{book.category }}</div>
    <div id="book_like" class="book_like">좋아요:
      <span id="like_count">{{book.like_count}}</span>
      {% if like_exists %}
        <button class="do-like-btn" onclick="like({{book.id}});">
          <svg id="do_like" class="h-6 w-6 fill-red-500 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
          </svg>
        </button>

        {% endif %}
        {% if not like_exists %}
          <button class="un-do-like-btn" onclick="like({{book.id}});">
            <svg id="undo_like" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
            </svg>
          </button>

        {% endif%}

        </div>
        <!-- <div class="book_info">평점: {{book.rating }}</div> -->
        <div class="book_info book_content">
          {{book.content}}
        </div>

        <!-- 스토어 주인이 아니면 채팅 버튼 보이기 -->
        {% if request.user.pk != book.user.id %}
          <a href="/chatting_room/{{ book.user.username }}">
            <div id="send_chat" onclick="goChat()">
              <span>CHAT</span></div>
          </a>
        {% endif %}

        <!-- 대여이력부분 -->
        <div class="list_title" value="rent_info">
          <svg class="bi bi-journal-text" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewbox="0 0 16 16">
            <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg>
          <p>대여이력</p>
        </div>

        <div id="rent_info" class="hidden">
          {% if rented_info%}
            {% for user in rented_info %}
              <p>{{ user.user_rented.username }}
                님이
                {{ user.exp_date |date:"Y-m-d"}}
                까지 대여했습니다</p>
            {% endfor %}
          {% else %}
            <p>대여이력이 없습니다</p>
          {% endif %}
        </div>

        <!-- 후기 별점 -->
        <div class="list_title" value="reviews_wrap">
          <svg class="bi bi-chat-heart" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewbox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.965 12.695a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2Zm-.8 3.108.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125ZM8 5.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
          </svg>
          <p>후기보기</p>
        </div>

        <div id="reviews_wrap" class="hidden">
          {% if reviews %}
            {% for review in reviews %}
              <div id="user_reviews">
                <p>{{review.writer.username}}</p>
                <div>{{review.content}}</div>
                <p class="review_rating" value="{{ review.review_rating }}"></p>
              </div>
            {% endfor %}
          {% else %}
            <p>등록된 후기가 없습니다</p>
          {% endif %}
        </div>

      </div>

      <!-- 도서상태수정팝업창 -->
      <dialog id="status_edit_modal">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-x-circle btn" value="status_edit_modal" viewbox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <div id="_store_register">
          <p id="book_edit_title">도서 정보수정</p>

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="status_wrap">
              <div class="book_edit_img">
                <label for="file">
                  <img id="currentImage" src="{{ book.book_img }}" alt="" class="w-30 h-40 m-auto rounded  object-cover cursor-pointer">
                  <input type="file" id="file" name="book_img" accept="image/*" class="hidden">
                </label>

              </div>
              <div class="book_edit">
                <p>책이름:</p>
                <input name="book_name" value="{{book.book_name}}">
              </div>
              <div class="book_edit">
                <p>가격:</p>
                <input type="text" name="price" value="{{book.price}}">
              </div>
              <div class="book_edit">
                <p>게시글:</p>
                <input name="content" value="{{book.content}}">
              </div>
              <div class="book_edit">
                <p>평점:</p>
                <select name="rating" id="select_rating">
                  <option selected="selected">{{book.rating}}</option>
                  {% for i in "12345" %}
                    <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="book_edit">
                <p>카테고리:</p>
                <select name="category" id="select_category">
                  <option selected="selected">{{book.category}}</option>
                  <option value="소설">소설</option>
                  <option value="만화">만화</option>
                  <option value="잡지">잡지</option>
                  <option value="기타">기타</option>
                </select>
              </div>
              <div class="book_edit">
                <span id="cb_text"></span>
                {% if book.is_rented == 0 %}
                  <input id="cb_status" type="checkbox" name="is_rent" checked="checked">
                {% else %}
                  <input id="cb_status" type="checkbox" name="is_rent">
                {% endif %}
              </div>

              <div class="book_edit">
                <p>대여정보:</p>
                <select name="user_rented_id" id="buyer_info">
                  <option>이용자선택</option>
                  {% for b in buyer %}
                    {% for a in b.participants.all %}
                      {% if a.username != request.user.username %}
                        <option value="{{ a.id }}">{{ a.username }}</option>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </select>
                <input id="return_day_input" type="date" name="returnday" placeholder="반납예정일">
                <span>까지 대여중</span>
              </div>
              <button id="book_edit_btn" type="submit" name="status_edit">수정하기</button>

            </div>
          </form>
        </div>

      </dialog>

    {% endblock %}
