{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
{{book.book_name }}
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/detail.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}
    <script type="text/javascript" src="{% static '/js/detail.js' %}"></script>
{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
책디테일 페이지
    book pk: {{ book.pk }}title: {{book.book_name }} category: {{book.user_id }}
<p>
{% for b in buyer %}
    {% for a in b.participants.all %}
        {% if a.username != request.user.username %}
        닉넴:{{ a.username }} id:{{ a.id }} 
        {% endif %}
    {% endfor %}
{% endfor %}
</p>



<div id="detail_wrap">
    <img src="{{ book.book_img }}">
    <div class="book_title">{{book.book_name }}</div>
    <div id="for_user">
        {% if book.is_rent == True %}
        <div id="onsale"><span>대여가능</span></div>
        {% else %}
        <div id="rented"><span>대여중</span></div>
        {% endif %}
    
<!-- 스토어 주인일 때만 도서수정팝업 버튼 보이기 -->
        {% if request.user.pk == book.user_id %}
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square status-edit" value="status_edit_modal" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        {% endif %}
    </div>
    <div class="book_info">가격: {{book.price }}</div>
    <div class="book_info">카테고리: {{book.category }}</div>
    <div class="book_info">평점: {{book.rating }}</div>
    <div class="book_info"> {{book.content}} </div>

<!-- 스토어 주인이 아니면 채팅 버튼 보이기 -->
    {% if request.user.pk != book.user.id %}
        <a href="/chatting_room/{{ book.user.username }}">
            <div id="send_chat" onclick="goChat()"><span>CHAT</span></div>
        </a>
    {% endif %}
    <div class="book_info">
        {% for user in rentuser %}
            <p>{{ user.user_rented.username }}님이 {{ user.exp_date }}까지 대여했습니다</p>
        {% endfor %}
    </div>
</div>



<!-- 도서상태수정팝업창 -->
<dialog id="status_edit_modal">
    <form method="POST">
        {% csrf_token %}
        <div id="status_wrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x btn" value="status_edit_modal" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <p>도서등록 정보수정</p>
            <div>
                <p>책이름:</p>
                <input name="book_name" value="{{book.book_name}}">
            </div>
            <div>
                <p>가격:</p>
                <input type="text" name="price" value="{{book.price}}">
            </div>
            <div> 
                <p>게시글:</p>
                <input name="content" value="{{book.content}}">
            </div>
            <div>
                <p>평점:</p>
                <select name="rating" id="select_rating">
                    <option selected>{{book.rating}}</option>
                    {% for i in "12345" %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select> 
            </div>
            <div> 
                <p>책이미지:</p>
                <input name="book_img" value="{{book.book_img}}"">
            </div>
            <div> 
                <p>카테고리:</p>
                <select name="category" id="select_category">
                    <option selected>{{book.category}}</option>
                    <option value="소설">소설</option>
                    <option value="만화">만화</option>
                    <option value="잡지">잡지</option>
                    <option value="기타">기타</option>
                </select>
            </div>
            <div>
                <span id="cb_text"></span>
                {% if book.is_rent == True %} 
                <input id="cb_status" type="checkbox" name="is_rent" checked>
                {% else %}
                <input id="cb_status" type="checkbox" name="is_rent">
                {% endif %}
            </div>
            <div>
                구매자:
                <select name="user_rented_id" id="buyer_info">
                    {% for b in buyer %}
                        {% for a in b.participants.all %}
                            {% if a.username != request.user.username %}
                            <option value="{{ a.id }}">{{ a.username }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
                <input type="date" name="returnday" placeholder="반납예정일">
                <span>까지 대여중</span>
            </div>

        </div>
        <button type="submit" name="status_edit">수정하기</button>
    </form>

</dialog>


{% endblock %}